.cm-editor .cm-linkify-ticket {
	/* See https://joplinapp.org/help/api/references/plugin_theming
	   for more information about styling with plugins */
	color: var(--joplin-url-color, #155bd4);
	text-decoration: underline;
	cursor: pointer;
}

.cm-editor .cm-linkify-ticket:hover {
	text-decoration: underline;
	opacity: 0.8;
}
